<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./setup.php">
    <php>
        <ini name="zend.enable_gc" value="0" />
        <ini name="memory_limit" value="-1" />
        <!-- error_reporting(E_ALL); -->
        <ini name="error_reporting" value="32767" />
    </php>

    <testsuites>
        <testsuite name="general">
            <directory>./FPWeb/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src/</directory>
        </whitelist>
        <blacklist>
            <directory>./</directory>
            <directory>../vendor/</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-html" target="../build/logs/report" charset="UTF-8"
             highlight="false" lowUpperBound="70" highLowerBound="90"/>
        <log type="coverage-clover" target="../build/logs/clover.xml" />
    </logging>
</phpunit>
